* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}


html {
    font-size: 16px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/* aqui fica o topo, onde esta o começo com a frase*/
.topo {
    background: #8472f4;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 15px;
}

.icon-book {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}

/* aqui é o header onde fica a logo e alguns links*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: #f8f2d8;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    max-height: 90px; 
}

.logo-img {
    width: 270px;     
    height: auto;  
    object-fit: contain;
}


.logo-img {
    width: 270px;
    height: auto;
}


/* MENU principal da aba de cima */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.2s;
    padding-bottom: 3px; 
}

.menu li a:hover {
    color: #150122;
    border-bottom: 2px solid #290341;
}

/* esse é o cadastro */
.btn-login a {
    background:#8472f4;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
}

.btn-login a:hover {
    background:#5f47ff;
}


/* ===== MENU PROFISSIONAL ===== */
.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.mega-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 600px;
    background: white;
    display: flex;
    gap: 40px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 999;
}

/* MOSTRAR AO PASSAR O MOUSE */
.dropdown:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

/* COLUNAS */
.coluna {
    display: flex;
    flex-direction: column;
}

.coluna h4 {
    margin-bottom: 10px;
    color: #8472f4;
}

.coluna a {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
    transition: 0.2s;
}

.coluna a:hover {
    color: #8472f4;
}

/* ===== BARRA DE PESQUISA PROFISSIONAL ===== */
.search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.search-container input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 220px;
    border-radius: 30px;
}

.search-container button {
    border: none;
    background: #8472f4;
    color: white;
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.search-container button:hover {
    background: #5f47ff;
}
.barra-categorias {
    width: 100%;
    background: white;
    padding: 12px 40px;
    border-bottom: 1px solid #ddd;
}

/* Centralizar e alinhar */
.barra-categorias .nav-menu ul {
    justify-content: flex-start;
}

/* Ajuste do dropdown nessa nova barra */
.barra-categorias .dropdown {
    position: relative;
}

/* Ajustar posição do mega menu */
.barra-categorias .mega-menu {
    top: 45px;
    left: 0;
}
/* MENU ESCONDIDO */
.menu-categorias {
    position: absolute;
    top: 70px;
    left: 20px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    display: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    z-index: 1000;
    min-width: 200px;
}

/* LINKS */
.menu-categorias a {
    display: block;
    margin: 8px 0;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.2s;
}

.menu-categorias a:hover {
    color: #8e44ad;
}

/* QUANDO ABRIR */
.menu-categorias.ativo {
    display: block;
}
/* SEÇÃO CATEGORIAS onde fica a parte de infatil e tals */
.categorias {
    background: #f8f2d8;
    border-bottom: 1px solid #eee;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.categorias ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.categorias li a {
    color: #555;
    font-size: 16px;
    text-decoration: none;
    transition: .2s;
}

.categorias li a:hover {
   color: #150122;
    border-bottom: 2px solid #290341;
}


.cat-direita li a {
    text-decoration: none;
    color: #333; 
    font-size: 15px;
    transition: 0.2s;
    padding-bottom: 3px; 
}

.cat-direita li a:hover {
    color: #150122;
    border-bottom: 2px solid #290341;
}

/* ===== SEÇÃO DOAÇÃO ===== */
.doacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background:#8472F4;
    padding: 40px;
    border-radius: 20px;
    margin: 40px;
}

/* LADO ESQUERDO */
.lado-esquerdo {
    width: 40%;
    text-align: center;
}

.lado-esquerdo img {
    width: 100%;
    border-radius: 20px;
}

.lado-esquerdo p {
    color: white;
    margin-top: 15px;
    font-size: 15px;
}

/* FORMULÁRIO */
.lado-direito {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 20px;
    width: 320px;
}

.lado-direito h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8e5ea2;
}

/* CAMPOS */
.lado-direito form {
    display: flex;
    flex-direction: column;
}

.lado-direito label {
    margin-top: 10px;
    font-size: 14px;
}

.lado-direito input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* BOTÃO */
.lado-direito button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #8e5ea2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.lado-direito button:hover {
    background: #6f4a82;
}

/* WHATSAPP FLUTUANTE */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    font-size: 26px;
    padding: 14px 16px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
}
.whatsapp img {
    width: 30px;
    height: 30px;
}

/*roda pé*/
footer {
    width: 100%;
    margin-top: 60px;
    margin: 0;
}

/*PARTE ROXA */
.footer-top {
    background: #8472f4;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: white;
}

/* COLUNA DE LINKS */
.footer-links ul {
    list-style: none;      
    padding: 0;          
    margin: 0;
}

.footer-links li {
    margin-bottom: 6px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    text-decoration: underline;
    opacity: 0.85;
}


/* REDES SOCIAIS */
.footer-social h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.icons-redes img {
    width: 28px;
    margin-right: 8px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.footer-social h4 {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 16px;
    
}


/* pequenas imagens*/
.footer-imgs img {
    width: 210px;
    margin-left: 10px;
    
}

/* PARTE AZUL */
.footer-bottom {
    background: #00aac8;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    color: white;
    font-weight: bold;
}

.footer-bottom-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-bottom-item img {
    width: 26px;
    filter: brightness(0) invert(1);
}



/* RESPONSIVO (celular) */
@media (max-width: 768px) {
    .doacao-container {
        flex-direction: column;
    }

    .lado-esquerdo,
    .lado-direito {
        width: 100%;
    }
}